@media screen and (max-width: 1160px) {

  .help-text{
    width: 60%;
  }

  .help{
    width: 500px;
    height: 400px;
    margin: 50px 0px 0px 0px;
  }

  header ul li a {
    padding: -1em 2.3em;
  }

  .left-text, .right-text{
    width: 100%;
  }


}

@media screen and (max-width: 1000px) {

  .description {
  color: #C2CBE9;
  font-size: 17px;
  }

  .iphone-2{
  float: left;
  margin-left: -100px;
  width: 300px;
  }

 .pattern-1 img, .pattern-1 ul {
    float: none;
  }
  .pattern-1 img, .pattern-1 nav {
    text-align: center;
  }
  .pattern-1 ul {
    display: inline-block;
  }

  header ul li a {
    padding: 2em 1em;
  }

  .container-2{
  margin-top: 300px;
  }

  .text-2{
    text-align: left;
    margin : 0px 10% 0px 5%;
  }

  .text{
    width: 250px;
  }

  .text > h1, .text-2 > h1, .text-3 > h1, .text-4 > h1, .text-5 > h1{
  font-size: 25px;
  width: 100%;
  text-align: center;
  }

  .text > button{
    margin-top: 30px;
  }

  .help-text{
    margin-left: 10%;
  }

  .left-text, .right-text{
    display: block;
    width: 100%;
  }

}

@media screen and (max-width: 730px) {

    header > .logo {
      float: none;
      margin: auto;
      width: 150px;
    }

    .black{
      display: none;
    }

    .text > h1{
      width: 300px;
      margin: auto;
    }

    .resp-iphone{
      width: 100%;
      text-align: center;
    }

    .iphone-1{
      width: 90%;
      float: none;
    }
  
    .text{
      margin-top: 10px;
      text-align: center;
      width: 100%;
    }

    .container-2{
      text-align: center;
    margin-top: 100px;
    }

    .text-2{
    text-align: center;
    }

    .text-5{
      width: 80%;
    }

    .text-2 > h1{
      margin: auto;
    }

    .ui-draggable{
      right: -30%; 
    }

    .help{
    width: 300px;
    height: 250px;
    margin: 50px 0px 0px 0px;
    }

    .line{
      display: none;
    }

    .disease{
      margin: 10% 0% 0% 10%;
      width: 85%;
    }

    .color{
      padding: 20px 20px 0 20px;
    }
}


@media screen and (max-width: 530px) {

  header ul li a{
    display: none;
  }

  .black{
    display: none;
  }

  .degrade{
    display: none;
  }

}